:root {
	/* FONT SIZE */
	--text-sm: 12px;
	--text-base: 19px;
	--text-paragraph: 18px;
	--text-h1: 60px;
	--text-h2: 22px;
	--text-content: 15px;
	--text-btn: 13px;

	--font-family: 'Inter', sans-serif;

	--line-height: 85px;
	--line-height-sub: 35px;
	--line-height-paragraph: 22px;

	--height-header: 250px;
	--height-about: 200px;
	--height-work: 400px;

	--main-content-width: 800px;
	--work-content-width: 700px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	flex-direction: column;
	font-family: var(--font-family);
	/* background-color: rgb(240, 237, 237); */
}

main {
	width: var(--main-content-width);
}

/* HEADER */

.header {
	display: flex;
	height: var(--height-header);
	align-items: center;
}
.heading-primary--main {
	font-size: var(--text-h1);
	letter-spacing: -4px;
	line-height: var(--line-height-main);
	font-weight: 600;
	text-rendering: optimizeLegibility;
}
.heading-primary--sub {
	font-size: var(--text-base);
	font-weight: 300;
	line-height: 25px;
}

.header__profilepic {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 2px solid #086fb3;
}

.heading-primary {
	display: flex;
	flex-direction: column;
	text-align: left;
}
.header__profilepic-box {
	display: flex;
	align-items: center;
	padding-left: 30px;
}

/* ABOUT ME */

.section-about {
	display: flex;
	height: var(--height-about);
	flex-direction: column;
	text-align: left;
	align-items: center;
}

.heading-secondary,
.paragraph,
.btn-about {
	display: flex;
	width: var(--main-content-width);
}

.heading-secondary {
	justify-content: flex-start;
	line-height: var(--line-height-sub);
	font-size: var(--text-h2);
}

.paragraph {
	line-height: var(--line-height-paragraph);
	color: rgb(116, 114, 114);
	font-size: var(--text-content);
}

.btn-about {
	justify-content: flex-end;
}

.btn {
	padding: 7px;
	border-radius: 8px;
	border: 2px solid #086fb3;
	cursor: pointer;
	font-size: var(--text-btn);
}

/* WORK EXPERIENCE */
.section-work {
	width: var(--work-content-width);
	height: var(--height-work);
}

.section-work .heading-secondary {
	line-height: 100px;
}

.section-work .section-work__cont .company .company__profile {
	display: flex;
}

.section-work .section-work__cont {
	display: flex;
	flex-direction: column;
}

.company {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 90px;
}

.company__name {
	font-size: 14px;
	font-weight: 600;
}

.company__position {
	font-size: 11.8px;
	font-weight: 400;
}

.company__info {
	width: 220px;
	display: flex;
	flex-direction: row;
}
.company__logo {
	height: 50px;
	width: 50px;
	border: 2px solid #b8abab;
	object-fit: cover;
	object-fit: contain;
	border-radius: 50%;
}

.company__profile {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}

.company__dates {
	color: rgb(116, 114, 114);
	font-size: 14px;
}

/* Education */

.section-education .heading-secondary {
	line-height: 90px;
}

.section-school .section-school__cont .school .school__profile {
	display: flex;
}

.section-work .section-work__cont {
	display: flex;
	flex-direction: column;
}

.school {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 70px;
}

.school__name {
	font-size: 15px;
	font-weight: 600;
}

.school__course {
	font-size: 11px;
	font-weight: 400;
}

.school__info {
	width: 400px;
	display: flex;
	flex-direction: row;
}
.school__logo {
	height: 50px;
	width: 50px;
	border: 2px solid #b8abab;
	object-fit: cover;
	object-fit: contain;
	border-radius: 50%;
}

.school__profile {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}

.school__dates {
	color: rgb(116, 114, 114);
	font-size: 14px;
}
