:root {
	/* FONT SIZE */
	--text-paragraph: 1.8rem;
	--text-h-header: 7rem;
	--text-h-main: 2.5rem;

	--font-size-lg: 1.6rem;
	--font-size-md: 1.4rem;
	--font-size-sm: 1.2rem;

	--text-content: 1.5rem;
	--text-content-sm: 1rem;
	--text-btn: 1.3rem;
	--text-btn-skills: 1.3rem;

	--font-family: Lato, 'Open Sans', sans-serif;

	--line-height: 8.5rem;
	--line-height-sub: 3.5rem;
	--line-height-paragraph: 2.2rem;
	--line-height-edu-skills: 5rem;

	--header-content-width: 65rem;
	--header-content-width-sm: 55rem;
	--main-content-width: 80rem;
	--work-content-width: 65rem;
	--work-content-width-sm: 40rem;
	--skills-content-width: 65rem;
	--skills-content-width-sm: 55rem;

	--border-color: 0.2rem solid #086fb3;

	--media-screen-sm: 50.63em;
}

html {
	font-size: 65.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*,
a {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	font-family: var(--font-family);
}

main {
	display: flex;
	justify-content: center;
	max-width: 85rem;
	padding: 3rem;
	flex-wrap: wrap;
}

.heading-secondary {
	color: #0d0d5e;
}

/* HEADER */

.header {
	display: flex;
	min-height: 30vh;
	align-items: center;
	width: var(--header-content-width);
}
.heading-primary--main {
	font-size: var(--text-h-header);
	letter-spacing: 1px;
	color: #0d0d5e;
	line-height: var(--line-height-main);
	font-weight: 600;
	text-rendering: optimizeLegibility;
}
.heading-primary--sub {
	font-size: var(--text-base);
	font-weight: 300;
	line-height: 2.5rem;
}

.header__profilepic {
	width: 16rem;
	height: 16rem;
	border-radius: 50%;
	border: var(--border-color);
}

.heading-primary {
	display: flex;
	flex-direction: column;
	text-align: left;
}
.header__profilepic-box {
	display: flex;
	align-items: center;
	padding-left: 3rem;
}

/* ABOUT ME */

.section-about {
	min-height: 30vh;
	flex-direction: column;
	text-align: left;
	align-items: center;
	/* background-color: #086fb3; */
}

.heading-secondary,
.paragraph,
.btn-about {
	display: flex;
}

.heading-secondary {
	justify-content: flex-start;
	line-height: var(--line-height-edu-skills);
	font-size: var(--text-h-main);
}

.paragraph {
	line-height: var(--line-height-paragraph);
	color: rgb(93, 88, 88);
	font-size: var(--text-content);
}

.btn-about {
	justify-content: flex-end;
}

.btn {
	padding: 0.7rem;
	border-radius: 0.8rem;
	border: var(--border-color);
	cursor: pointer;
	font-size: var(--text-btn);
	font-weight: 700;
	color: black;
}

/* WORK EXPERIENCE */
.section-work {
	display: flex;
	width: var(--work-content-width);
	min-height: 40vh;
	flex-direction: column;
	justify-content: center;
}

/* .section-work {
	align-items: center;
} */

.section-work .heading-secondary {
	line-height: var(--line-height-edu-skills);
}

.section-work .section-work__cont {
	flex-direction: column;
}

.company {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 7rem;
	line-height: 1.5rem;
}

.company__name {
	font-size: var(--font-size-lg);
	font-weight: 500;

	width: 40rem;
}

.company__position {
	font-size: var(--font-size-sm);
	line-height: var(--line-height-paragraph);
	font-weight: 400;
}

.company__info {
	width: 28rem;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.company__logo {
	height: 4.5rem;
	width: 4.5rem;
	border: var(--border-color);
	object-fit: cover;
	object-fit: contain;
	border-radius: 50%;
}

.company__profile {
	display: flex;
	flex-direction: column;
	padding-left: 1.5rem;
}

.company__dates {
	align-items: center;
	color: rgb(45, 43, 43);
	font-size: 1.4rem;
	font-weight: 400;
}

/* EDUCATION SECTION */

.section-education {
	min-height: 30vh;
	width: 100%;
}
.section-education .heading-secondary {
	line-height: var(--line-height-edu-skills);
}

.section-school .section-school__cont .school .school__profile {
	display: flex;
}

.section-work .section-work__cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.school {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 7rem;
}

.school__name {
	font-size: var(--font-size-lg);
	line-height: var(--line-height-main);
	font-weight: 600;
}

.school__course {
	font-size: var(--font-size-sm);
	font-weight: 400;
}

.school__info {
	width: 40rem;
	display: flex;
	flex-direction: row;
}
.school__logo {
	height: 5rem;
	width: 5rem;
	border: var(--border-color);
	object-fit: cover;
	object-fit: contain;
	border-radius: 50%;
}

.school__profile {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}

.school__dates {
	/* color: rgb(116, 114, 114); */
	font-size: var(--font-size-sm);
}

/* SKILLS SECTION */

.section-skills {
	width: var(--work-content-width);
	min-height: 30vh;
	margin-top: 0.8rem;
	/* background-color: #086fb3; */
}

.section-skills .heading-secondary {
	line-height: var(--line-height-edu-skills);
}

.skills {
	display: flex;
	flex-direction: row;
}

.skills__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	background-color: black;
	width: auto;
	border-radius: 0.8rem;
	border: var(--border-color);
	cursor: pointer;
	height: auto;
	font-size: 0.9rem;
}

.skills__cont {
	padding-right: 0.8rem;
}

.skills__cont:not(:last-child) .skills__icon-img {
	filter: brightness(0) invert(1);
	height: 2rem;
	width: 1.8rem;
}

.skills__icon-text {
	color: white;
	padding-left: 0.2rem;
}

/* PROJECTS */
.section-projects {
	min-height: 140vh;
}
.section-projects .heading-secondary {
	display: flex;
	justify-content: center;
}

.section-projects .paragraph {
	text-align: left;
	align-items: center;
	font-size: var(--text-content);
}

.paragraph-items {
	font-size: var(--text-content);
	color: rgb(62, 59, 59);
	line-height: var(--line-height-sub);
}

.items {
	display: none;
	text-align: left;
	color: rgb(72, 70, 70);
	padding-left: 2rem;
	align-items: center;
	font-size: 1.4rem;
}

.project {
	display: flex;
	margin-top: 5.5rem;
	flex-direction: column;
}

.project__profile {
	display: flex;
	flex-direction: column;
	padding-left: 4rem;
	line-height: 3.5rem;
}

.project__timeline {
	margin-top: 1rem;
}

.project__logo {
	height: 5rem;
	width: 5rem;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	border: var(--border-color);
	background-color: #fff9f9;
}

.project__name {
	font-size: var(--font-size-lg);
}
.project__description {
	font-size: 1.3rem;
	line-height: var(--line-height-paragraph);
	color: rgb(116, 114, 114);
}

.project__dates {
	color: rgb(4, 4, 4);
	font-size: 12px;
}

.vertical-line {
	position: absolute;
	width: 0.1rem; /* thin line */
	min-height: 105vh; /* adjust height as needed */
	background-color: #000; /* line color */
	border: none; /* remove default border */
	margin: 0 2.5rem; /* optional spacing */
}

.dashed-line {
	border: none;
	border-top: 1px dashed #ccc;
	width: 80%;
	margin: 1rem 0; /* optional spacing */
	margin-left: 2.4rem;
}

/* .project__link {
	background-color: #000;
	border: var(--border-color);
	width: 9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.8rem;
} */

.project__button {
	color: #fff;
}

.project__icon-text {
	font-size: 1.5rem;
}

/* Contact*/

.contact {
	border-radius: 3px;
	box-shadow: 0 1.5 4rem rgba(71, 90, 174, 0.8);
	margin-top: 3rem;
	min-height: 50vh;
	padding: 7rem 0;
}
.contact__form {
	width: 100%;
	padding: 6rem;
}

.form__group:not(:last-child) {
	margin-bottom: 1rem;
}

.form__input {
	font-size: 1.5rem;
	font-family: inherit;
	color: inherit;
	padding: 1.5rem 2rem;
	border-radius: 2px;
	background-color: rgba(206, 206, 206, 0.9);
	border: rgba(101, 97, 97, 0.9);
	border-bottom: 3px solid transparent;
	/* width: 90%; */
	width: 100%;
	display: block;
}
.form__input:focus:invalid {
	border-bottom: 3px solid #ff5e00;
}
.form__input::-webkit-input-placeholder {
	color: #999;
}
.form__input:focus {
	outline: none;
	box-shadow: 0 1rem 2rem rgba(8, 10, 19, 0.8);
	border-bottom: 3px solid #00ff00;
}

.form__label {
	font-size: 1.2rem;
	font-weight: 700;
	margin-left: 2rem;
	margin-top: 0.7rem;
	display: block;
	transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-4rem);
}

.btn,
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 0.6rem;
	border: 0.3px solid #fdf9f9;
	transition: all 0.5s;
	position: relative;
	border: none;
	cursor: pointer;
}

.btn--green {
	background-color: #2741a9;
	color: white;
}

.btn--white {
	background-color: #17181a9a;
	color: #fdf9f9;
}
.btn--white::after {
	background-color: #080a13ec;
	border: 0.5px solid #fdf9f9;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px #080a13ec;
	background-color: #080a13ec;
	color: #fdf9f9;
	border: 0.2px solid #fdf9f9;
}
.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px #080a13ec;
}

.btn::after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.5s;
}

.btn--animated {
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
	font-size: 1.7rem;
	color: #080a13ec;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #080a13ec;
	padding: 3px;
	transition: all 0.2s;
}

.btn-text:hover {
	background-color: #080a13ec;
	color: #fdf9f9;
	box-shadow: 0 1rem 2rem #080a13ec;
	transform: translateY(-2px);
}

.btn-text:active {
	box-shadow: 0 0.5rem 1rem #080a13ec;
	transform: translateY(0);
}

.btn-pr {
	border-radius: var(--border-color);
}
